/******************************************
/* CSS
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
.container-main{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-nav{
  display:grid;
  grid-gap: 5px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
